$border: 1px solid #a3a3a3;
$gray-bg-color: #ececec;
$gray-100-bg-color: #e5e5e5;
$gray-200-bg-color: #c6c6c6;

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.grid {
  border: $border;
  padding: 0;
  border-radius: 5px;
  max-width: 400px;
  height: fit-content;
  margin: auto;
}

.grid_currencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.grid_wrapper {
  display: flex;
  justify-content: center;
  flex: 0 0 30%;
  align-items: center;
  margin: 5px;
}

.grid_selected {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 16px;
  width: 16px;
  border: $border;
  border-radius: 5px;
  margin-right: 5px;
}

.currency input:checked ~ .checkmark:before {
  display: block;
}

.checkmark:before {
  position: absolute;
  display: none;
  content: "\00d7";
  color: red;
  font-weight: bold;
  top: -2px;
  left: 3px;
  width: 5px;
  height: 10px;
}

.currency {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 5px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border: $border;
}

.currency_selected {
  background-color: white;
}
.currency_container {
  background-color: $gray-bg-color;
  &:hover {
    background-color: $gray-200-bg-color;
  }
}

.grid_container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $gray-100-bg-color;
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 80%;
}

.grid_closedBtn {
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
  border-radius: 99px;
  background-color: #000;
  font-size: 12px;
  line-height: 0px;
  height: 16px;
  width: 16px;
  padding: 0;
  border-width: 0;

  &:hover {
    background-color: white;
    border: 2px solid #000;

    &:before {
      color: #000;
    }
  }
}

.grid_closedBtn:before {
  content: "X";
  color: white;
  font-size: 10px;
}
